/* Large desktops and laptops */
@media (min-width: 1200px) {
  body {
    background: url(http://griddle.it/1170-12-30) repeat-y center top;
  }
  body:before {
    background: red;
    bottom: 50px;
    color: #fff;
    content: "Large desktops and laptops 1200";
    padding: 10px;
    position: fixed;
    right: 50px;
    z-index: 100;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background: url(http://griddle.it/970-12-30) repeat-y center top;
  }
  body:before {
    background: red;
    bottom: 50px;
    color: #fff;
    content: "Landscape tablets and medium desktops 992-1199";
    padding: 10px;
    position: fixed;
    right: 50px;
    z-index: 100;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background: url(http://griddle.it/750-12-30) repeat-y center top;
  }
  body:before {
    background: red;
    bottom: 50px;
    color: #fff;
    content: "Portrait tablets and small desktops 768-991";
    padding: 10px;
    position: fixed;
    right: 50px;
    z-index: 100;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body:before {
    background: red;
    bottom: 50px;
    color: #fff;
    content: "Landscape phones and portrait tablets 767<";
    padding: 10px;
    position: fixed;
    right: 50px;
    z-index: 100;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  body:before {
    background: red;
    bottom: 50px;
    color: #fff;
    content: "Landscape tablets and medium desktops 480<";
    padding: 10px;
    position: fixed;
    right: 50px;
    z-index: 100;
  }
}
