<meta charset="utf-8">
<div style="display:block;width:800px;margin:0px auto;background:#EEE;border:1px solid #E1e1e1;font-family: serif;font-size:14px;color:#333">
	<div style="background:#eee;padding:15px;overflow:hidden;border-bottom:1px solid #E1e1e1">
		<div style="display:block;width:20%;float:left;text-align:center"><img src="http://localhost/trantoanphat/public/site/images/icon24.png" /></div>
		<div style="display:block;width:80%;float:left">
			<p style="display:block;padding: 10px 0px;font-weight:bold;font-size: 18px;">CÔNG TY CÔ PHẦN DƯỢC PHẨM HOA THIÊN PHÚ</p>
		</div>
	</div>
	<div style="padding:15px;overflow:hidden;min-height:400px;background:#fff">{content}</div>
	<div style="padding:15px;border-top:1px solid #E1e1e1;overflow:hidden">
		<div style="width:25%;text-align:center;float:left">
			
		</div>
		<div style="width:70%;border-left:1px solid #555;float:right;padding-left:15px">
			<p style="margin:0px;padding:0px;line-height:22px"><b style="font-size:18px">CÔNG TY CÔ PHẦN DƯỢC PHẨM HOA THIÊN PHÚ</b> <br>
			<b>Address:</b> 10 Nguyễn Cửu Đàm, phường Tân Sơn Nhì, quận Tân Phú <br>
			<b>Hotline:</b> 1900 6033 / Fax:  <br>
			<b>Website:</b> www.hoathienphu.com.vn </p>
		</div>
	</div>
</div>
