*{margin:0px;padding:0px;line-height: 24px;color:#444;font-size:14px;outline:none;font-family:arial}
a{text-decoration: none}
body{background: #EEE url(../images/logo.png) 50% 10px no-repeat}
form{background: #FFF;border:1px solid #E1e1e1;padding:20px;display:block;margin:100px auto;width:300px}
form div{padding:3px 0px;position:relative}
form div label{display:block;margin:6px 0px 5px 0px}
form div input[type="text"]{width:100%;padding:4px 5px;border:1px solid #ccc;box-sizing:border-box;padding-left:30px}
form div input[type="password"]{width:100%;padding:4px 5px;border:1px solid #ccc;box-sizing:border-box;padding-left:30px}
form div input[type="submit"]{color:#FFF;background:#27c;border:1px solid #06c;padding:4px 20px;border-radius:4px;cursor:pointer;margin-top:10px}
form div i{position:absolute;left:10px;bottom:14px;font-size:15px !important}
