*{outline:none}
#uccloading{position:relative;text-align:center;width:86px;height:86px;display:none;margin:20px auto;clear: both;}
#uccloading.active{display:block}
#uccloading img{width:60px;margin-top:12px}
#uccloading .rotate{width:80px;height:80px;border: 1px solid #f1f1f1;border-left: 2px solid #eee;border-top: 3px solid #eee;border-right: 1px solid #eee;position:absolute;border-radius:50%;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load8 0.9s infinite linear;animation: load8 0.9s infinite linear;}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}*{outline:none}
body{background: #eee;overflow: hidden;}
#uccloading{position:relative;text-align:center;width:86px;height:86px;display:none;margin:20px auto;clear: both;}
#uccloading.active{display:block}
#uccloading img{width:60px;margin-top:12px}
#uccloading .rotate{width:80px;height:80px;border: 1px solid #f1f1f1;border-left: 2px solid #eee;border-top: 3px solid #eee;border-right: 1px solid #eee;position:absolute;border-radius:50%;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load8 0.9s infinite linear;animation: load8 0.9s infinite linear;}

.box{
    overflow: hidden;
    position:absolute;
    width:900px;
    background: #fff;
    top: 50%;
    left:50%;
    margin-left:-470px;

    margin-top:-200px;
    padding: 20px;
    box-shadow:0px 0px 3px #999;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
    -moz-transiton: all 0.5s;
    transform: translate3d(0%,0%,0);
    -webkit-transform: translate3d(0%,0%,0);
    opacity:1;
    -moz-transform: translate3d(0%,0%,0);
    -webkit-animation-name: box;
    -webkit-animation-duration: 0.6s;
    animation-name: box;
    animation-duration: 0.6s;
    transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
}
.box.in{transform: translate(0);-moz-transform: translate(0);-webkit-transform: translate(0);opacity:1;max-height: 1000px;}
.box .left_box{float:left;width:500px;margin:10px 30px}
.box .left_box h1{color:#555;border-bottom: 1px solid #ccc;padding-bottom:15px;font-size: 20px;margin-bottom:20px;}
.box .left_box input{border-radius:0px;background:#FFF;border: 1px solid #ccc;margin-bottom:15px;height:40px;}
.box .left_box input[type="submit"]{font-size: 15px;
    padding: 8px 50px;
    background: #ff0000;
    color: #FFF;
    border: 1px solid #ad0000;
    border-radius: 2px;}
.box .right_box{width:300px;background: rgb(0, 131, 147);position:absolute;top:0px;right:0px;bottom:0px;color: #FFF;}
.box .right_box img{display:block;margin:auto;margin-top: 30px;}
.box .right_box h2{font-size: 15px;text-align:center;padding-bottom:10px;border-bottom: 1px solid #0d98a9;margin:20px 20px 10px 20px;box-shadow: 0px 1px 0px #05707d;color: #fff; text-shadow: 0px 0px 1px #000;}
.box .right_box p{margin:0px 20px;text-align: center;border-bottom: 1px solid #0d98a9;padding-bottom:10px;margin-bottom:15px;box-shadow: 0px 1px 0px #05707d;}
.box .right_box h5{margin:10px 20px;color: #eee;font-size: 12px; text-align: center;}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes box {
    from {transform: translate3d(0%,-120%,0);-webkit-transform: translate3d(0%,-120%,0);opacity:0;-moz-transform: translate3d(0%,-120%,0)}
    to {transform: translate(0);-moz-transform: translate(0);-webkit-transform: translate(0);opacity:1;}
}

/* Standard syntax */
@keyframes box {
    from {transform: translate3d(0%,-120%,0);-webkit-transform: translate3d(0%,-120%,0);opacity:0;-moz-transform: translate3d(0%,-120%,0)}
    to {transform: translate(0);-moz-transform: translate(0);-webkit-transform: translate(0);opacity:1;}
}