body{background-color:#edf1f2;color:#555;line-height:1.42857;position:relative}
body::-webkit-scrollbar{width:3px;background-color:#ccc}
body::-webkit-scrollbar-thumb{background-color:#555;border-radius:10px}
body::-webkit-scrollbar-thumb:hover{background-color:#000;border:1px solid #333}
body::-webkit-scrollbar-thumb:active{background-color:#000;border:1px solid #333}a{color:#555}
.table-color{background-color:#fff}.table-color-2{background-color:#eee}
.table-color-3{background-color:#fff}
.btn .fa{margin-right:3px}
.special_input{margin-left:-5px;width:100.4%}
.btn-file{position:relative;overflow:hidden}
.btn-file input[type="file"]{position:absolute;top:0;left:0;height:36px;cursor:pointer;padding-left:250px}
.body_content{overflow:hidden;position:relative;width:100%;}.body_content a{cursor:pointer;text-decoration:none}
.body_content a#closesitebar{background:#646262;left:205px;position:absolute;text-align:center;top:70px;width:25px;z-index:999;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}.body_content a#closesitebar:hover{background:#3888D4}.body_content a#closesitebar i{color:#FFF;font-size:12px}.body_content a.closesitebar{left:-30px!important}.body_content a#opensitebar{background:#646262;left:-30px;position:absolute;text-align:center;top:69px;width:25px;z-index:999;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}
.body_content a#opensitebar:hover{background:#3888D4}
.body_content a#opensitebar i{color:#FFF;font-size:12px}
.body_content a.opensitebar{left:-5px!important}
.body_content .header{background-color:#fff;border-bottom:1px solid #e1e1e1;box-shadow:0 0 5px #ccc;height:70px;overflow:hidden}
.body_content .header .block1{float:left;width:239px}
.body_content .header .block1 img{margin-top:15px;}
.body_content .header .block1 p.p1{color:#333;font-size:28px;font-weight:700;margin-bottom:0;margin-top:5px}
.body_content .header .block1 p.p2{color:#86af24;font-size:12px;margin:-3px 0 0;text-transform:capitalize}
.body_content .header .block1 a{text-decoration:none}.body_content .header .block2 ul{margin:0}
.body_content .header .block2 ul li{display:block;float:left;padding: 0px;}
.body_content .header .block2 ul li a{text-transform:uppercase;font-size: 13px;padding: 25px 12px;display: block;cursor:pointer;}
.body_content .header .block2 ul li a:hover{color:#62a8ea}
.body_content .header .block2 ul li a.current_group{background: #008393;border: 1px solid #008393;color:#FFF;}
.body_content .header .block2 ul li a.current_group label{padding:0px;margin:0px;}
.body_content .header .info_user{font-weight:700;position:absolute;right:20px;top:12px;width: 355px;}
.body_content .header .info_user ul{float:right}
.body_content .header .info_user ul li{border-right:1px solid #c1c1c1;display:block;float:left;padding:0 10px}
.body_content .header .info_user ul li.li1{border:none}
.body_content .header .info_user ul li.li1 img{border-radius:50%;border:1px solid #FFF;height:48px;width:48px}
.body_content .header .info_user ul li.li3{border:none;margin-top:10px}
.body_content .header .info_user ul li.li2 span{color:gray;font-size:12px;font-weight:400;text-transform:uppercase}
.body_content .header .info_user ul li a i{margin-left:10px;margin-top:3px}
.body_content .sitebar{background-color:#fff;border-right:1px solid #d4d9d9;box-shadow:1px 0 0 #fff;bottom:0;box-sizing:border-box;left:0;padding:15px 0;position:absolute;top:70px;width:230px;overflow-y:scroll;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}
.body_content .sitebar.closesitebar{left:-230px}
.body_content .sitebar p.title{font-size:13px;font-weight:700;padding:5px 0 5px 20px;text-transform:uppercase;margin:20px 0 0}
.body_content .sitebar p.title i{font-size:16px}
.body_content .containner{display:block;min-height:1050px;padding:20px 20px 50px;position:relative;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;font-size:13px;margin:20px 20px 40px 250px;background:#FFF;border:1px solid #E1e1e1;}
.body_content .containner i.fa{margin-right:7px;}
.body_content .containner.opensitebar{margin-left:0;margin-right:0}
.body_content .containner .over_lay{background:rgba(255,255,255,0.5);bottom:-20px;display:none;left:-20px;position:absolute;right:-20px;top:-20px;z-index:99999}
.body_content .containner .over_lay.black{background:rgba(0,0,0,0.5)}
.body_content .containner .black.in .box_inner{transform:translate(0);-moz-transform:translate(0);-webkit-transform:translate(0);opacity:1}
.body_content .containner .black .box_inner{background:#FFF;border-radius:4px;display:block;margin:30px auto;overflow:hidden;position:relative;width:850px;transition:all .3s;-webkit-transition:all .3s;-moz-transiton:all .3s;transform:translateY(-50%);-webkit-transform:translateY(-50%);opacity:0;-moz-transform:translate(-50%)}
.body_content .containner .black .box_inner .block1_inner{background:#F2F2F2;border-bottom:1px solid #e1e1e1;height:40px;padding:10px 20px;position:relative}
.body_content .containner .black .box_inner .block1_inner h1{font-size:16px;font-weight:700;text-transform:uppercase;margin-top:0;line-height:24px}
.body_content .containner .black .box_inner .block1_inner a{padding:10px 15px;position:absolute;right:0;top:0}
.body_content .containner .black .box_inner .block1_inner a i{font-size:18px}
.body_content .containner .black .box_inner .block2_inner{max-height:500px;overflow:auto;padding:15px 20px 80px}
.body_content .containner .black .box_inner .block2_inner::-webkit-scrollbar{background-color:#ccc;width:5px}
.body_content .containner .black .box_inner .block2_inner::-webkit-scrollbar-thumb{background-color:#555;border-radius:10px}
.body_content .containner .black .box_inner .block2_inner::-webkit-scrollbar-thumb:hover{background-color:#000;border:1px solid #333}
.body_content .containner .black .box_inner .block2_inner::-webkit-scrollbar-thumb:active{background-color:#000;border:1px solid #333}
.body_content .containner .black .box_inner .block2_inner table{border-collapse:collapse;width:100%}
.body_content .containner .black .box_inner .block2_inner table *{font-size:12px}
.body_content .containner .black .box_inner .block2_inner table tr th .select_products{border:1px solid #c1c1c1;padding:3px 5px;width:165px}
.body_content .containner .black .box_inner .block2_inner table tr th{border-bottom:1px solid #E1e1e1;padding-bottom:5px}
.body_content .containner .black .box_inner .block2_inner table tr td{border-bottom:1px solid #EEE;padding:5px 0}
.body_content .containner .black .box_inner .block2_inner table tr td:nth-child(1){width:180px}
.body_content .containner .black .box_inner .block2_inner table tr td:nth-child(2){width:115px}
.body_content .containner .black .box_inner .block2_inner table tr td:nth-child(4){width:80px}
.body_content .containner .black .box_inner .block2_inner table tr td a i{display:none}
.body_content .containner .black .box_inner .block2_inner table tr:hover td{background-color:#CFF7E3}
.body_content .containner .black .box_inner .block2_inner table tr:hover td:first-child{border-left:1px solid #109050}
.body_content .containner .black .box_inner .block2_inner table tr:hover td a i{display:block}
.body_content .containner .black .box_inner .block2_inner .fixedtools{background:#EEE;border-top:1px solid #E1e1e1;bottom:0;left:0;overflow:hidden;position:absolute;width:100%;z-index:99}
.body_content .containner .black .box_inner .block2_inner .fixedtools .btn-box-inner{margin:10px 20px}
.body_content .containner .black .box_inner .block2_inner .fixedtools .btn-attach{position:relative;overflow:hidden;margin-top:10px;cursor:pointer}
.body_content .containner .black .box_inner .block2_inner .fixedtools .btn-attach input[type="file"]{position:absolute;left:0;top:0;padding:5px 0 0 150px;height:34px;outline:none;cursor:pointer}
.body_content .containner .black .box_inner .block2_inner .fixedtools img{height:34px;margin-top:10px;margin-left:10px;border:1px solid #e1e1e1;border-radius:5px}
.body_content .containner .black .box_inner .block2_inner .row p.title{font-weight:700;margin-bottom:10px;margin-top:10px;padding-top:5px}
.body_content .containner .black .box_inner .block2_inner .row ul .lilist{display:block;float:left;width:150px}
.body_content .containner .black .box_inner .block2_inner .tools_search_products{border-bottom:1px solid #999;margin-bottom:10px;overflow:hidden;padding-bottom:10px}
.body_content .containner .black .box_inner .block2_inner .tools_search_products span{float:left;font-size:13px;margin-right:10px}
.body_content .containner .black .box_inner .block2_inner .tools_search_products span input{border:1px solid #E1e1e1;font-size:11px;padding:0 3px;width:200px}
.welcome_title{color:#c1c1c1;font-size:30px;font-weight:400;margin:120px 0;opacity:0;text-align:center;text-shadow:0 0 1px #fff}
.body_content .sitebar > ul{margin-bottom:30px!important;margin-left:25px;padding-left:20px}
.body_content .sitebar ul li{display:block;position:relative}
.body_content .sitebar ul li a{display:block;padding:4px 0;text-decoration:none}
.body_content .sitebar ul li a.active{color:#FFF;background: #008393;margin-left:-43px;padding-left:43px;}
.body_content .sitebar ul li .notification_num{background:#EC2F2F;border-radius:3px;border:1px solid #D41010;color:#FFF;font-size:10px;font-weight:700;height:18px;left:110px;line-height:15px;min-width:18px;padding:0 3px;position:absolute;text-align:center;top:0}
.body_content .sitebar ul li a:hover{color:#62a8ea}
.body_content .sitebar ul li a.active:hover{color:#FFF}
.body_content .sitebar ul li p{overflow:hidden;margin-bottom:0}
.body_content .sitebar ul li p.active{background: #008393;margin-left:-43px;padding-left:23px;}
.body_content .sitebar ul li p.active a{margin-left:20px;color:#fff}
.body_content .sitebar ul li p.active i{color:#FFF;margin-top:1px}
.body_content .sitebar ul li p a{float:left;color:#555}
.body_content .sitebar ul li p i{cursor:pointer;font-size:12px!important;padding:8px}
.body_content .sitebar > ul ul{padding-left:15px;margin-bottom:15px}
.body_content .sitebar .copyright{background:#11171a;bottom:0;color:#707980;font-size:12px;left:0;padding:3px 0;position:absolute;text-align:center;width:250px;transition:all .3s;-webkit-transition:all 0,3s;-moz-transition:all .3s}
.body_content .sitebar .copyright:hover{color:#FFF;cursor:pointer}
.body_content .sitebar .copyright.opensitebar{left:230px}
.breakcrumb{text-align:right;float:right;background:#EEE;margin-top:12px;position:relative;}
.breakcrumb span{width:100%;left:0px;position:absolute;top:-25px;text-align:center;text-transform:uppercase;font-size:11px;font-weight:bold;}
.breakcrumb a{display: block;padding: 2px 10px;position:relative;float:left;border-left:1px solid #E1e1e1;color:#888;}
.breakcrumb a:first-child{border:none;}
.breakcrumb a.active{background:#36c58a;color:#FFF;}
.body_content .header #openmenu{display:none;}
.body_content .header .btn-openmenu-mobile{display:none;}
#sitebar_open{display: none;}

.body_content .containner table tr td a{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display: inline-block;}
button.on-off{width:45px;height:22px;background:#fff;border:1px solid #ccc;border-radius:50px;position:relative;outline:none;}
button.on-off.off:after{content:'';width:16px;height:16px;position:absolute;left: 3px;top:2px;background:#ccc;border-radius:50%;}
button.on-off.on:after{content:'';width:16px;height:16px;position:absolute;left: 23px;top:2px;background: #ffffff;border-radius:50%;}
button.on-off.on{border:1px solid #79d86f;background:#79d86f;}

input[type="checkbox"]{border: 1px solid #b4b9be;background: #fff;color: #555;clear: none;cursor: pointer;display: inline-block;line-height: 0;height: 16px;margin: -4px 4px 0 0;outline: 0;padding: 0!important;text-align: center;vertical-align: middle;width: 16px;min-width: 16px;-webkit-appearance: none;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);-webkit-transition: .05s border-color ease-in-out;transition: .05s border-color ease-in-out;outline: none;}
input[type=checkbox]:checked:before{margin: 0px 0 0 0px;color: #1e8cbe;content: "\e013";font-size: 10px;margin-top: 7px;display: block;}
input[type=checkbox]:checked{font-family: 'Glyphicons Halflings';}
.box_report_by_time_order{
    margin: 0px;
}
.report_by_time_order{height:250px;margin-top: 0px;position: relative;margin-left: 0px;padding: 0px;padding-top: 30px;margin-bottom: 30px;}
.report_by_time_order:after{content:'';height:1px;background:#c1c1c1;position:absolute;left: 11%;right: 0%;margin-top: -30px;}
.report_by_time_order:before{content:'';height:1px;background:#c1c1c1;position:absolute;left: 11%;right: 0%;bottom:0px;}
.report_by_time_order div{display:block;float:left;width: 2.8%;margin-right:5px;position:relative;height:100%;}
.report_by_time_order div:nth-child(4n+1):after{content:'';width:1px;bottom: 0px;background:#c1c1c1;position:absolute;top: -30px;right:0px;}
.report_by_time_order div:nth-child(1):after{content:'';width: 1px;bottom: 0px;background:#c1c1c1;position:absolute;top: -30px;left:100%;}
.report_by_time_order div:hover ~ div{z-index:2;}
.report_by_time_order div:hover ~ div.line-table{z-index:1;}
.report_by_time_order a{position:absolute;bottom:0px;left:0px;background:#008393;right:0px;opacity: 0.9;z-index: 9;}
.report_by_time_order a span{position:absolute;bottom:-20px;left: 0px;font-size: 11px;white-space: nowrap;}
.report_by_time_order div:nth-child(2n-1) a span{display:none;}
.report_by_time_order a b{background: #ffdfdf;position:absolute;top: -55px;left:0px;padding:3px 10px;border-radius:3px;border: 1px solid #f7cece;display:none;color: #555;white-space: nowrap;z-index: 99;font-weight: normal;}
.report_by_time_order a:hover b{display:block;}
.report_by_time_order a b i{font-size:13px;display:block;margin-top:5px;font-weight: bold;font-style: normal;}
.report_by_time_order .price-line-value{display:block;float:left;width: 11%;margin-right:5px;height:100%;border-right:1px solid #c1c1c1;border-top: none;}
.report_by_time_order .price-line-value i{position:absolute;bottom:20px;right:10px;font-style:normal;}
.report_by_time_order .line-table{position:absolute;top:0px;left:11%;width:89%;right:20px;bottom:0px;top:0px;z-index:1}
.report_by_time_order .line-table p{display:block;height: 51px;border-top:1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;padding: 0px;margin: 0px;margin-bottom: 50px;margin-top: -1px;}
.report_by_time_order .line-table p:first-child{border-top:none;}

@media only screen and  (max-width: 992px) {
    .body_content .sitebar{display: none;}
    .body_content a#closesitebar{display: none;}
    .body_content .containner{margin: 0px;}
    .table-containner{overflow:scroll;}
    .auto_complete{overflow:scroll;width:90%;}
    #table_content{min-width: 800px;}
    .row.data_table{margin:0px 0px 0px -15px;overflow:scroll;}
    .row.data_table tr th,.table_report tr th,.table_report tr td{white-space:nowrap;}
    .sub_menu{min-width: 0px;overflow: scroll;}
    h2.title{font-size: 20px;margin:0px;margin:20px 0px 0px 0px;border-bottom:1px solid #e1e1e1;padding-bottom:10px;text-transform:uppercase;}
}

@media only screen and  (max-width: 768px) {
    .body_content{min-height:100px !important;}
    .body_content .containner{padding-top: 70px;min-height:500px;}
    .body_content .header{height: 50px;overflow: initial;position: fixed;z-index: 999999;width: 100%;}
    .body_content .header:after{content:'';width:25px;height:3px;position:absolute;background:#888;right:10px;top:18px;z-index:19;}
    .body_content .header:before{content:'';width:25px;height:3px;position:absolute;background:#888;right:10px;top:24px;z-index:19;}
    .body_content .header .block1:before{content:'';width:25px;height:3px;position:absolute;background:#888;right:10px;top:30px;z-index:19;}
    .body_content .header .block1{width:100%;position:relative;height: 50px;z-index:9;background: #313131;}
    .body_content .header .block1 a{width: 210px;display:block;}
    .body_content .header .block1 img{height: 33px;}
    .body_content .header .block1 p.p1{color: #999;font-size: 18px;font-weight:700;margin-bottom:0;margin-top:5px;text-shadow: 0px 1px 0px #000;}
    .body_content .header .block1 p.p2{color:#86af24;font-size: 11px;margin:-3px 0 0;text-transform:capitalize;}
    .body_content .header .block2{max-height:200px;overflow-y:scroll;background: #3e3e3e;width:100%;clear:both;transform:translate3d(0px,-200px,0px;);-webkit-transform:translate3d(0px,-200px,0px);transition:all 0.5s;-webkit-transition:all 0.5s;}
    .body_content .header .block2 ul{padding:15px 0px;overflow:hidden;}
    .body_content .header .block2 ul li{padding: 0px;float:left;width:50%;}
    .body_content .header .block2 ul li a{text-transform:uppercase;font-size: 12px;color:#c1c1c1;display:block;padding:5px 10px;display:list-item;margin-left:30px;text-shadow:0px 1px 0px #222;}
    .body_content .header .block2 ul li a:hover{}
    .body_content .header .block2 ul li a.current_group{background:none;border-radius: 20px;color:#FFF;padding:5px 10px;border:none;}
    .body_content .header .block2 ul li a.current_group label{margin-top:0px;margin-bottom: 0px;}
    .body_content .header .block2 p.title{font-size:12px;color:#c1c1c1;padding:5px 10px 5px 0px;border-bottom:1px solid #515151;box-shadow:0px 1px 0px #313131;margin:0px 15px;text-transform:uppercase;text-shadow:0px 1px 0px #222;}
    .body_content .header .block2 p.title i{margin-right:5px;font-size:15px;text-shadow:0px 1px 0px #222;}
    .body_content .header .block2 p.title ~ ul li{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .body_content .header .block2 p.title ~ ul li a.active{color:#a1cc3a;}
    .body_content .header .block2 .backtomainmenu-mobile{margin-left:15px;color:#999;text-transform:uppercase;font-size:12px;color:#c1c1c1;text-shadow:0px 1px 0px #222;background:#313131;padding:5px 15px;border-radius:50px;}
    .body_content .header .block2 .backtomainmenu-mobile i{margin-right:5px;font-size:14px;}
    .body_content .header .info_user{font-weight:700;position:static;background: #313131;width:100%;overflow:hidden;transform:translate3d(0px,-450px,0px;);-webkit-transform:translate3d(0px,-450px,0px);transition:all 0.5s;-webkit-transition:all 0.5s;}
    .body_content .header .info_user ul{float:left;overflow:hidden;margin:0px;padding:0px;}
    .body_content .header .info_user ul li{border-right:1px solid #3e3e3e;display:block;float:left;padding: 6px 13px;box-shadow:1px 0px #292929;}
    .body_content .header .info_user ul li a{color:#999;}
    .body_content .header .info_user ul li.li1{border:none;box-shadow:0px 0px 0px;}
    .body_content .header .info_user ul li.li1 img{border-radius:50%;border:1px solid #3e3e3e;height:40px;width:40px;}
    .body_content .header .info_user ul li.li3{border:none;margin-top:10px;}
    .body_content .header .info_user ul li.li2 span{color:gray;font-size:11px;font-weight:400;text-transform:uppercase}
    .body_content .header .info_user ul li a i{margin-left:10px;margin-top:3px}
    .body_content .header .btn-openmenu-mobile{position:absolute;right:5px;top:0px;width:40px;height:40px;z-index:99;display:block;}
    .body_content .header #openmenu:checked ~ .block2{transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);}
    .body_content .header #openmenu:checked ~ .info_user{transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);
    /*.body_content .header:hover .block2{transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);}
    .body_content .header:hover .info_user{transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);}
    .body_content .header:hover:after{background:#ccc;}
    .body_content .header:hover:before{background:#ccc;}
    .body_content .header:hover .block1:before{background:#ccc;}*/
    #table_content{min-height: 0px !important;}
    .table_data,.table_report{overflow:scroll;margin-bottom: 20px;}
    .body_content .containner .import_select_progress .block1 h1{}
    h2.title{font-size: 20px;margin:0px;}
}

@media only screen and (max-width: 480px){
    .report_by_time_order div{display:block;float:left;width: 2.2%;margin-right:5px;position:relative;height:100%;}
    h2.title{font-size: 18px;margin:20px 0px 0px 0px;border-bottom:1px solid #e1e1e1;padding-bottom:10px;text-transform:uppercase;}
}

@media only screen and (max-width: 320px){
    h2.title{font-size:17px;}
}
